@media screen and (max-width: 600px) {
    .n-menu div {
        height: 70px;
    }

    .n-split-pane-1 {
        height: 100px;
    }

    .n-menu-item-content {
        padding-top: 100px;
    }

    .n-menu-item-content n-menu-item-content--child-active {
        padding-top: 1000px;
    }

    .n-split--horizontal {
        color: pink;
    }

    .n-dropdown-option-body__label {
        font-size: 2.7vw;
    }

}

@media screen and (min-width: 600px) {
    .n-split n-split--horizontal navbar {
        height: 200px;
    }

    .n-split-pane-1 {
        height: 100px;
    }

    .n-menu-item-content {
        padding-top: 0;
    }


    .v-overflow {
        height: 70px;
        overflow: visible;
    }

    .n-dropdown-option-body__label {
        font-size: 12px;
        font-stretch: expanded;
    }

}