@font-face {
    font-family: imported-font;
    src: url('@/assets/fonts/Yellowtail-Regular.ttf');
}

.n-submenu {
    width: 0;
}

@media screen and (max-width: 600px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        color: pink;
    }

    .locomobile-title {
        height: 30px;
        margin-bottom: -47px;
        padding-left: 10px;
        font-family: imported-font;
    }

    .links-header {
        margin-bottom: -24px;
        margin-left: -45px;
        overflow: visible;
        color: #4fbb69;
        height: 40px;
        width: 40px;
    }

    .v-overflow {
        overflow: visible;
        color: #4fbb69;
        height: 70px;
        vertical-align: top;
    }

    .radio-tower {
        height: 70px;
        padding-left: 10px;
        margin-top: 10px;
    }

    .dollar-sign {
        height: 70px;
        padding-left: 10px;
        margin-top: 10px;
        width: auto;
        object-fit: contain;
        cursor: pointer;
    }

}


@media screen and (min-width: 600px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }

    .v-overflow {
        overflow: visible;
        color: #4fbb69;
        height: 70px;
        vertical-align: top;
    }

    .radio-tower {
        height: 70px;
        padding-left: 10px;
        margin-top: 10px;
        user-select: none;
    }

    .locomobile-title {
        height: 30px;
        margin-bottom: -47px;
        padding-left: 10px;
        font-family: imported-font;
    }

    .links-header {
        height: 40px;
        width: 40px;

        margin-bottom: -36px;
        margin-left: -60px;

        overflow: visible;
        color: #4fbb69;
    }

    .dollar-sign {
        height: 70px;
        padding-left: 10px;
        margin-top: 10px;
        width: auto;
        object-fit: contain;
        cursor: pointer;
        user-select: none;
    }


}