@font-face {
    font-family: imported-font;
    src: url('@/assets/fonts/Yellowtail-Regular.ttf');
}

@media screen and (max-width: 600px) {
    .n-menu div {
        height: 70px;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }

    .locomobile-title {
        color: white;
        padding-top: 20px;
        font-size: 35px;
        user-select: none;


        font-weight: lighter;
        font-style: normal;
        font-stretch: extra-expanded;
    }

    .locomobile-title {
        font-family: imported-font;
    }

    .links-header {
        margin-bottom: -24px;
        margin-left: -45px;
        overflow: visible;
        color: #4fbb69;
        height: 40px;
        width: 40px;
    }

    .v-overflow {
        overflow: visible;
        height: 70px;
        vertical-align: top;
    }

    .n-dropdown-option-body__label {
        font-size: 3vw;
    }

    .radio-tower {
        height: 70px;
        padding-left: 10px;
    }

}


@media screen and (min-width: 600px) {
    .radio-tower {
        height: 70px;
        padding-left: 15px;
        margin-bottom: 10px;
        user-select: none;
    }

    .locomobile-title {
        color: white;
        padding-top: 20px;
        font-size: 35px;
        user-select: none;

        font-family: imported-font, cursive;
        font-weight: 10;
        font-style: normal;
    }

    .links-header {
        height: 40px;
        width: 40px;

        margin-bottom: -39px;
        margin-left: -40px;

        overflow: visible;
        color: #4fbb69;
    }

    .v-overflow {
        height: 70px;
        overflow: visible;
    }

    .n-dropdown-option-body__label {
        font-size: 12px;
        font-stretch: expanded;
    }

}